* {
    box-sizing: border-box;
}

.calculator-container {
    margin: auto;
    display: grid;
    width: 30%;
    height: 350px;
    gap: 1px;
    column-gap: 2px;
    background-color: black;
    grid-template-areas: 'screen screen screen screen'
        'clear clear backspace divide'
        'seven eight nine multiply'
        'four five six minus'
        'one two three plus'
        'zero zero zero equal';
}

/*calculator grid buttons*/
.button{

}
.number {
    background-color: #d8d9db;
    border-color: #d8d9db;
    border-radius: 1px;
}

.opeartor {
    color: white;
    background-color: #df974c;
    border-color: #df974c;
    border-radius: 1px;
}

.screen {
    grid-area: screen;
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
   
}

.clear {
    grid-area: clear;
}

.backspace {
    grid-area: backspace;
}

.divide {
    grid-area: divide;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.multiply {
    grid-area: multiply;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.minus {
    grid-area: minus;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.plus {
    grid-area: plus;
}

.zero {
    grid-area: zero;
}

.equal {
    grid-area: equal;
}